section {
  padding: 0 10px;
  margin-top: 120px;
  position: relative;
  height: 750px;
  
}

@media screen and (min-width: 768px) {
  section {
    height: initial;
  }
}

.hero {
  width: 100%;
  height: 537px;
  background-image: url(../../assets/Hero/hero.png);
  background-size: cover;
  background-position: 70% 0%;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 90%;
  }
}

.vector {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/Hero/Vector.png);
  background-size: cover;
  background-position: 70% 0%;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .vector {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .vector {
    width: 75%;
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .vector {
    width: 70%;
    height: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .vector {
    width: 54%;
    height: 100%;
  }
}

@media screen and (min-width: 2560px) {
  .vector {
    width: 50%;
    height: 100%;
  }
}

.arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  top: 50%;
}

.left {
  left: 1.5rem;
}

.right {
  right: 1.5rem;
}

@media screen and (min-width: 768px) {
  .arrow {
    display: block;
  }
}

.hero .hero-text {
  background-color: #0b76bb;
  width: calc(100% - 60px);
  border-radius: 25px;
  position: absolute;
  bottom: -180px;
  padding: 20px 30px;
  font-family: "Sora", sans-serif;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero .hero-text {
    bottom: -1rem;
    width: 40%;
    left: -1rem;
    border: #00183c solid 17px;
  }
}

.hero .hero-text h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.hero .hero-text h3 {
  font-size: 2rem;
  margin: 0;
  font-weight: lighter;
}

.hero .hero-text p {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.hero .hero-text footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.hero .hero-text footer a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #ffff;
  gap: 5px;
}
