.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    position: relative; /* Define o contêiner como relativo */
}

.hero img {
    padding: 5%;
    width: 90%; /* Faz a imagem ocupar toda a largura do contêiner */
    display: block; /* Remove espaços indesejados em algumas implementações */
}

.hero-info {
    position: absolute; /* Permite que o elemento se sobreponha */
    top: 90%; /* Ajusta para centralizar verticalmente */
    left: 50%; /* Ajusta para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento para cima e para a esquerda, centralizando-o */
    padding: 0%;
    height: fit-content;
    background-color: #0B76BB;
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remova a margem para evitar deslocamento */
    z-index: 1; /* Garante que o conteúdo esteja acima da imagem */
}

.info-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
}

.info-logos img {
    width: 155px;
}

.hero-info h2 {
    padding-top: 4%;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #001B3C;
    font-size: 36px;
    margin: 0;
}

.hero-info h3 {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    color: #001B3C;
    font-size: 36px;
    margin: 0;
}

.hero-info p {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    color: #001B3C;
    font-size: 18px;
    margin: 0;
    margin-top: 5%;
}

.info-logos p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    padding-bottom: 5%;
    cursor: pointer;
}

.info-arrow {
    width: 12px !important;
    cursor: pointer;
}

