.section-aya-difer {
    width: 100%;
    height: auto;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-aya-difer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.difer-localizacao {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
}

.about-details3 {   
    background-image: url(/src/assets/element.png);
    border-radius: 25px;
    width: full;
    height: 300px;
    position: relative;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    width: 394px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

  .decorate3 {
    display: none;
  }

  .about-details3 h3, .about-details3 h3 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    color: #fff;
    margin: 0;
    padding-bottom: 3%;
}

.about-details3 h5{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    color: #fff;
    margin: 0;
    padding-bottom: 5%;
}

.about-details3 p{
    font-size: 12px;
    font-weight: 300;
    font-family: 'Sora', sans-serif;
    color: #fff;
    margin: 0;
}

.end {
    border-radius: 20px;
    width: 50%;
}


@media screen and (min-width: 1300px) {
    .about-details3 {
        background-image: url(/src/assets/element.png);
        border-radius: 25px;
        width: full;
        height: 313px;
        position: relative;
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        width: 406px;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .difer-localizacao {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 0%;
        align-items: center;
        justify-content: center;
        column-gap: 1%;
    }
}

@media screen and (min-width: 1400px) {
    .about-details3 {
            background-image: url(/src/assets/element.png);
            border-radius: 25px;
            width: full;
            height: 335px;
            position: relative;
            background-color: transparent;
            background-size: cover;
            background-repeat: no-repeat;
            width: 436px;
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
    }
}

@media screen and (min-width: 1400px) {
    .about-details3 {
            height: 335px;
            width: 436px;
    }
}

@media screen and (min-width: 1500px) {
    .about-details3 {
        height: 363px;
        width: 467px;
    }
}

@media screen and (min-width: 1600px) {
    .about-details3 {
        height: 382px;
        width: 495px;
    }
}

@media screen and (min-width: 1700px) {
    .about-details3 {
        height: 406px;
        width: 525px;
    }
}

@media screen and (min-width: 1800px) {
    .about-details3 {
        height: 432px;
        width: 559px;
    }
}