.social-front-img {
    width: 100%;
    height: 100%;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  @media screen and (min-width: 768px) {
    .social-front-img {
      background-image: url(../../assets/fazemos.png);
      justify-content: end;
      align-items: end;
      height: 557px;
    }
  }
  
  .social-front {
    width: 80%;
    height: 100%;
    background-color: #0b76bb;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    border-radius: 25px;
    height: 300px;
    color: #fff;
  }
  
  @media screen and (min-width: 768px) {
    .social-front {
      height: 300px;
      width: 350px;
      margin: auto 0;
      margin-right: 10%;
      background-color: #0b75bbda;
    }
  }
  
  .social-front h3 {
      font-size: 1.5rem;
      max-width: 277px;
  }
  
  .social-front p {
      font-weight: 300;
      margin: 0;
      max-width: 277px;
  }
  
  .social-front button {
      padding: 10px 20px;
      border: #fff solid 2px;
      background-color: transparent;
      color: #fff;
      border-radius: 5px;
      margin-top: 10px;
  }
  
  .social-front-decorate {
    position: absolute;
    width: 95px;
    height: 95px;
    bottom: 0;
    right: 0;
    border: #001638 solid 7px;
    background-color: #00CCFF;
    border-radius: 25px;
  }
  
  @media screen and (min-width: 768px) {
    .social-front-decorate {
      border: #5b5c5ecc solid 7px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .social-front {
      height: 350px;
      width: 40%;
      margin: auto 0;
      margin-right: 10%;
      background-color: transparent;
      background-image: url(/src/assets/element2.png);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5% 0% 0% 0%;
    }
  
    .social-front-decorate {
      display: none;
    }

    .social-front h3 {
      font-size: 2.2rem;
      max-width: 277px;
  }
  
    .social-front h3,
    .social-front p {
      font-weight: 400;
      text-align: right;
      max-width: 500px;
      width: 77%;
      margin-right: 10%;
    }
  
    .social-front p {
      font-size: 1rem;
      line-height: 22px;
      margin-right: 10%;
      font-weight: 300 !important;
    }
  
    .social-front button {
      align-self: flex-end; /* Garante que o botão vá para a direita */
      margin-top: 10px; /* Adiciona espaçamento caso necessário */
      margin-right: 17%;
    }
  }
  
  
  @media screen and (min-width: 1300px) {
    
    .social-front button {
      margin-right: 20%;
    }
  }
  
  
  @media screen and (min-width: 1400px) {

    .social-front {
      width: 35%;
    }
    
    .social-front button {
      margin-right: 23%;
    }
  }
  
  
  @media screen and (min-width: 1500px) {

    .social-front {
      width: 33%;
    }
    
    .social-front button {
      margin-right: 25%;
    }
  }
  
  
  @media screen and (min-width: 1600px) {

    .social-front {
      width: 31%;
    }
    
    .social-front button {
      margin-right: 27%;
    }
  }
  
  @media screen and (min-width: 1700px) {
    .social-front {
      width: 29%;
    }
    
    .social-front button {
      margin-right: 29%;
    }
  }
  
  @media screen and (min-width: 1800px) {

    .social-front {
      width: 27%;
    }
    
    .-social-front button {
      margin-right: 31%;
    }
  }