.front {
    position: relative;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    margin-top: 0%;
    height: 50vh;
}

.front-info {
    position: absolute; /* Permite que o elemento se sobreponha */
    top: 45%; /* Ajusta para centralizar verticalmente */
    left: 50%; /* Ajusta para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Move o elemento para cima e para a esquerda, centralizando-o */
    padding: 0%;
    height: fit-content;
    background-color: #0B76BB;
    border-radius: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remova a margem para evitar deslocamento */
    z-index: 1; /* Garante que o conteúdo esteja acima da imagem */
    padding-bottom: 10%;
}

.front-text2 {
    padding: 10%;
}

.front-text2 h2{
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 28px;
}

.front-text2 p{
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 95%;
}

.front-text2 button {
    padding-inline: 5%;
    height: 44px;
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border: solid 1px #fff;
    background-color: transparent;
    border-radius: 9px;
    cursor: pointer;
}

.object2 {
    width: 95px;
    height: 95px;
    background-color: #00CCFF;
    border-radius: 25px;
    position: absolute;
    top: 68%; /* Ajusta para centralizar verticalmente */
    left: 68%; /* Ajusta para centralizar horizontalmente */
    z-index: 2;
    border: #001B3C solid 7px;
}