/* Container de mídia */
.na-midia-cards {
  margin-top: 3rem;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

/* Container dos cards */
.na-midia-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-content: center;
  align-items: start;
  padding-bottom: 5%;
  /* Flexbox ou Grid para responsividade */
}

/* Estilo de cada card */
.midia-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: start;
  width: 100%;
  height: 380px; /* Aumentei a altura do card para dar mais espaço */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Garante que o padding não afete o cálculo da altura */
  overflow: hidden; /* Impede o transbordamento */
  padding: 10%;
}

/* Imagem do card */
.midia-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover; /* Garante que a imagem preencha a área do card */
}

/* Título do card */
.midia-card-title {
  font-size: 1.25rem;
  margin-top: 10px;
  font-weight: bold;
  color: #063272;
  white-space: normal; /* Permite quebra de linha no título */
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona reticências se o título for muito longo */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita o título a no máximo 2 linhas */
  -webkit-box-orient: vertical;
}

/* Descrição do card */
.midia-card-description {
  font-size: 1rem;
  color: #555;
  
  /* Usando as propriedades específicas para limitar o texto em 3 linhas */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limita a descrição a 3 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Impede que o conteúdo ultrapasse o limite */
  text-overflow: ellipsis; /* Adiciona reticências ao cortar o texto */
}

/* Link do card */
.midia-card-link {
  display: flex;
  margin-top: 15px;
  color: #063272;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2%;
}

/* Hover no link */
.midia-card-link:hover {
  text-decoration: underline;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  color: white;
  border: none;
  padding: 10px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .na-midia-container {
    grid-template-columns: repeat(2, 1fr); /* Exibe 2 cards por linha */
  }
}

@media (max-width: 480px) {
  .na-midia-container {
    grid-template-columns: 1fr; /* Exibe 1 card por linha em telas muito pequenas */
  }
}

@media (min-width: 1024px) {
  .na-midia-container {
    display: grid; /* Usando grid */
    grid-template-columns: repeat(2, 1fr); /* Exibe 3 cards por linha */
    gap: 30px; /* Espaçamento entre os cards e entre as linhas */
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    grid-template-rows: repeat(4, auto); /* Limita a 4 linhas no máximo */
    width: 80%; /* Seção dos cards ocupa 80% da largura da tela */
    margin: 0 auto; /* Centraliza o container de cards */
    column-gap: 5%;
    justify-items: center;
  }

  .midia-card {
    height: 380px; /* A altura aumentada para mais espaço */
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Centraliza a área de paginação, mesma largura que os cards */
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .na-midia-container {
    grid-template-columns: repeat(3, 1fr); /* Exibe 3 cards por linha */
  }
}

@media (min-width: 1700px) {
  .na-midia-container {
    row-gap: 5%;
    padding-bottom: 5%;
  }

  .midia-card {
    height: 50vh; /* Altura variável, mas proporcional ao tamanho da tela */
  }

  .midia-card-link {
    margin-top: 20px;
  }
}

@media (min-width: 1500px) {
  .midia-card {
      height: 400px;
  }
}

@media (min-width: 1600px) {
  .midia-card {
      height: 425px;
  }
}

@media (min-width: 1700px) {
  .midia-card {
      height: 450px;
  }
}

