/* Estilo geral do Main */
main {
  margin-top: 3rem;
  color: #fff;
}

main header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Título e Botão */
.carousel-header {
  width: 100%;
  text-align: center;
}

.carousel-title {
  font-size: 2rem;
  font-weight: 600;
}

.view-projects-button {
  display: none;
  background-color: #062C66;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}


@media screen and (max-width: 1023px) {
  .carousel-title {
    font-size: 1.5rem;
  }
  .view-projects-button {
    display: none;
  }
}

/* Container do Carrossel */
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: 2%;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 16px;
  margin: 0 auto;
  scrollbar-width: none;
}

.carousel-item {
  min-width: 225px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Efeito de sombra */
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: opacity 0.3s ease; /* Transição da imagem */
}

.carousel-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Impede interação com o layer */
}

.carousel-item:hover::after {
  opacity: 1; /* Ativa o layer esbranquiçado */
}

.carousel-item:hover .carousel-name {
  transform: translateY(-120px); /* Eleva o nome */
  color: #00183C;
  z-index: 1;
}

.extra-info {
  opacity: 0;
  transform: translateY(20px); /* Desloca para baixo inicialmente */
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: #00183C;
  z-index: 1;
}

.carousel-item:hover .extra-info {
  opacity: 1;
  transform: translateY(0); /* Revela as informações */
}

.extra-info p {
  font-size: 14px;
  margin: 5px 0;
}

.extra-info .btn-conheca {
  background-color: transparent;
  border: none;
  padding-top: 20%;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  color: #00183C;
  font-weight: 700;
  margin-right: 2%;
  padding-left: 0px;
}


/* Barra de progresso */
.progress-bar {
  margin: 0 auto;
  width: 90%;
  height: 10px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.progress-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.progress-dot.active {
  background-color: #58FFC3;
}

/* Responsividade */
@media screen and (min-width: 1024px) {
  .carousel-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .carousel-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .view-projects-button {
    display: inline-block;
  }

  .carousel-header {
    width: 87%;
    justify-content: center;
    padding-top: 3%;
  }

  .carousel-title {
    margin: 0 auto;
    font-size: 2.2rem;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    padding-left: 20%;
  }

  .view-projects-button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 42px;
    margin: 0 auto;
    scrollbar-width: none;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    gap: 27px;
  }

  .carousel-item {
    min-width: 250px;
  }

  .carousel-image {
    height: 325px;
  }
}

@media screen and (min-width: 1300px) {

  .carousel-header {
    width: 85%;
  }
  .carousel-container {
    padding-inline: 5%;
}
}

@media screen and (min-width: 1400px) {

  .carousel-header {
    width: 78%;
  }
  .carousel-container {
    padding-inline: 8%;
}
}

@media screen and (min-width: 1500px) {

  .carousel-header {
    width: 72%;
  }
  .carousel-container {
    padding-inline: 10%;
}
}


