main {
  margin-top: 3rem;
  color: #fff;
}

main header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 6rem;
  }
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  gap: 16px;
  margin: 0 auto;
  scrollbar-width: none;
}

.carousel-item {
  min-width: 225px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.carousel-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.carousel-button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    display: block;
  }
}

.progress-bar {
  margin: 0 auto;
  width: 90%;
  height: 2px;
  background-color: #062C66;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 0.8rem;
}

.progress-fill {
  height: 7px;
  background-color: #062C66;
  transition: width 0.2s ease;
  border-radius: 6px;
}
