.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.carousel-titulo {
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-size: 22px;
    font-weight: 300;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 90%; /* Garante que o contêiner ocupa 100% da largura */
}

.carousel-images {
    display: flex; /* Garanta que as imagens estão em linha */
    transition: transform 0.5s ease-in-out; /* Transição suave */
    column-gap: 0%;
}

.carousel-item {
    min-width: 100%; /* Cada item ocupa 100% do carrossel */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carousel-item img {
    width: 90%; /* A imagem ocupa 100% do item */
    height: auto;
}

.progress-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background: #062C66;
    z-index: 0;
    margin-bottom: 5%;
}

.progress {
    height: 4px;
    background: #062C66;
    transition: width 0.5s;
    margin: 0;
    position: absolute;
    left: 0;
    margin-bottom: 5%;
}



.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carousel-button:hover {
    background: rgba(255, 255, 255, 1);
}

.carousel-button:first-of-type {
    left: 10px;
}

.carousel-button:last-of-type {
    right: 10px;
}
