.sidebar-container {
  width: 300px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}

.header .logo {
  width: 253px;
  margin-bottom: 1rem;
}

.address {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .address {
    text-align: start;
  }
}

.address span {
  display: block;
  margin-top: 0.5rem;
}

.address a {
  color: #ffffff;
  text-decoration: none;
}

.navigation ul {
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .navigation ul {
    width: 270px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.navigation li {
  margin: 0.5rem 0;
  text-align: start;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .navigation a {
    font-size: 0.8rem;
  }
}

.newsletter {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.social-media {
  margin-bottom: 1.5rem;
}

.social-media p {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

.social-media .icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-media .icons img {
  width: 30px;
  height: 30px;
}

.restricted-area a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.footer {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}