.experience {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    .experience {
        margin-top: 5rem;
    }
}

.experience-text {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .experience-text {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .experience-text .container {
        max-width: 455px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.experience-text h2 {
    font-weight: lighter;
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.experience-text p {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 10%;
}

.experience-text ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .experience-text ul {
        width: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        max-width: 50%;
    }
}

.experience-text ul li {
    color: #fff;
    padding-bottom: 10%;
    font-size: 20px;
    display: flex;
    width: 100%;
    column-gap: 5%;
}

@media screen and (min-width: 768px) {
    .experience-text ul li {
        width: 312px;
    }
}