.experience {
    position: relative;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    margin-top: 0%;
    height: fit-content;
}

.experience-text {
    display: flex;
    flex-direction: column;
}

.experience-text h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    margin: 0;
}

.experience-text p {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 10%;
}

.experience-text ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.experience-text ul li {
    color: #fff;
    padding-bottom: 10%;
    font-size: 20px;
    display: flex;
    width: 100%;
    column-gap: 5%;
}