.negocios-carousel {
  height: 90vh;
  margin-top: 0px;
}

.negocios-h2 {
  font-size: 2.5rem;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-bottom: 5%;
}

/* Carousel container */
.neg-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 98%;
  overflow: hidden; /* Garante que apenas os 2 primeiros cards sejam visíveis */
}

.neg-carousel {
  display: flex;
  overflow: auto;
  padding: 10px;
  margin: 0 auto;
  scrollbar-width: none;
  gap: 20px; /* Adiciona espaço entre os cards */
  scroll-behavior: smooth;
  padding-inline: 5%;
  transition: transform 0.3s ease-in-out; /* Desloca suavemente os itens */
}

.neg-carousel-item {
  flex-shrink: 0; /* Impede que os itens encolham */
  width: 50%; /* Ajusta a largura para exibir 2 itens por vez */
  text-align: center;
  border-radius: 8px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
}

.neg-carousel-image {
  width: 245%;
  height: 300px;
  object-fit: cover;
}

/* Botões de navegação */
.neg-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  display: block;
  background-color: transparent;
  font-size: 24px;
}

.neg-carousel-button.left {
  left: 10px;
}

.neg-carousel-button.right {
  right: 10px;
}

/* Pontos (Dots) */
.neg-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #58ffc3;
}

/* Adicionando um efeito responsivo */
@media screen and (min-width: 1200px) {
  .negocios-carousel {
    height: 85vh;
  }

  .neg-carousel {
    display: flex;
    overflow: auto;
    padding: 10px;
    margin: 0 auto;
    scrollbar-width: none;
    gap: 14px;
    scroll-behavior: smooth;
    padding-inline: 5%;
    transition: transform 0.3s ease-in-out;
}

.neg-carousel-image {
  width: 100%;
  height: 354px;
  object-fit: cover;
}

.negocios-h2 {
  font-size: 2.5rem;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-bottom: 2%;
}
}

@media screen and (min-width: 1300px) {
  .negocios-carousel {
    padding-top: 5%;
    height: 85vh;
}

.neg-carousel-container {
  width: 98%;
}
}

@media screen and (min-width: 1400px) {
  .negocios-carousel {
    padding-top: 2%;
    height: 83vh;
}

.neg-carousel-container {
  width: 98%;
}
}

@media screen and (min-width: 1500px) {
  .negocios-carousel {
    height: 85vh;
  }
}

@media screen and (min-width: 1600px) {
  .negocios-carousel {
    height: 83vh;
  }
}

@media screen and (min-width: 1700px) {
  .negocios-carousel {
    height: 90vh;
  }
}

@media screen and (min-width: 1800px) {
  .negocios-carousel {
    height: 92vh;
  }
}
